html,
body {
    font-family: segoe-ui_normal, "Segoe UI", Segoe, "Segoe WP", "Helvetica Neue", Helvetica, sans-serif;
}
h1,
h2 {
    font-family: segoe-ui_light, "Segoe UI Light", "Segoe WP", "Helvetica Neue", Helvetica, sans-serif;
}
h3,
h4,
h5,
h6 {
    font-family: segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP", "Helvetica Neue", Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 300;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
    margin-bottom: 12px;
    margin-top: 10px;
    word-wrap: break-word;
}
h1,
h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 10px;
}
h2 {
    font-size: 1.75rem;
    margin-top: 32px;
}
h3 {
    font-size: 1.188rem;
    margin-top: 30px;
    margin-bottom: 18px;
}
h4 {
    font-size: 1rem;
    margin-top: 36px;
    margin-bottom: 6px;
}
h5 {
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-top: 36px;
    margin-bottom: 6px;
}
h6 {
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-top: 36px;
    margin-bottom: 6px;
}
main ul ul {
    margin: 0 0 0 20px;
}
main ul ul > li {
    list-style-type: circle;
}
main ul ul ul > li {
    list-style-type: square;
}
main ol ol {
    margin: 0 0 0 20px;
}
main ol ol > li {
    list-style-type: lower-alpha;
}
main ol ol ol > li {
    list-style-type: lower-roman;
}
a:hover {
    color: #0078d7;
    text-decoration: underline;
}
a:active {
    color: #0078d7;
}
a:visited {
    color: #0078d7;
}
small {
    font-size: 11px;
}
code {
    border-radius: 2px;
    border: 1px solid #d3d6db;
    background-color: #f9f9f9;
    display: inline-block;
    font-size: 0.875rem;
    padding: 0px 7px;
}
pre {
    overflow: auto;
    padding: 16px;
    margin: 16px 0 0 0;
    font-size: 0.875rem;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #d3d6db;
    background-color: #f9f9f9;
}
pre code {
    border: 0;
    padding: 0;
    display: block;
}
p {
    margin-top: 1rem;
    margin-bottom: 0;
}
p code {
    font-size: 0.8rem;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    height: 100%;
}
body {
    background: #fff;
    color: #222;
    font-size: 100%;
    line-height: 160%;
    min-height: 100%;
    height: auto !important;
}
a {
    color: #0050C5;
    cursor: pointer;
    text-decoration: none;
    word-wrap: break-word;
}
main table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 100%;
    font-size: 0.875rem;
}
main table caption {
    font-size: 0.8em;
    font-weight: 600;
    text-align: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1.2em;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e3e3e3;
    text-align: right;
}
main td,
main th {
    display: table-cell;
    word-wrap: break-word;
    padding: 12px 16px;
    line-height: 1.5;
    vertical-align: top;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #e3e3e3;
}
main th {
    text-align: left;
    font-family: segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    vertical-align: bottom;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e3e3e3;
}
main table > caption + thead > tr:first-child > td,
main table > colgroup + thead > tr:first-child > td,
main table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
main .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.bg-black {
    background-color: #000000;
}
.text-black {
    color: #000000;
}
.bg-azure {
    background-color: #0078d7;
}
.text-azure {
    color: #0078d7;
}
dl,
ol,
ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.toc {
    margin-top: 24px;
    overflow-y: auto;
    flex-grow: 1;
}
.toc a,
.toc li,
.toc ul {
    outline: 0px solid black;
    -moz-box-shadow: inset 0 0 0 0 black;
    -webkit-box-shadow: inset 0 0 00 black;
    box-shadow: inset 0 0 0 0 black;
}
.toc a:focus,
.toc li:focus,
.toc ul:focus {
    -moz-box-shadow: inset 0 0 0 2px #0050C5;
    -webkit-box-shadow: inset 0 0 0 2px #0050C5;
    box-shadow: inset 0 0 0 2px #0050C5;
}
.toc ul {
    margin-bottom: 0;
    padding-left: 10px;
}
.toc > ul {
    display: block;
    margin-left: 0;
    padding-left: 0;
}
.toc > ul span,
.toc > ul a {
    display: block;
    font-size: .875rem;
    line-height: 1.3;
    margin-left: 0.5rem;
    margin-right: 1rem;
    padding-bottom: 6px;
    padding-top: 4px;
    word-wrap: break-word;
    color: #222;
}
blockquote {
    background-color: #d9f6ff;
    border-color: #bff1ff;
    color: inherit;
    font-size: smaller;
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
}
blockquote:before {
    content: "\0024D8   Note";
    color: #0094bf;
    font-size: larger;
    font-family: segoe-ui_light, "Segoe UI Light", "Segoe WP", "Helvetica Neue", Helvetica, sans-serif;
}
.bg-note {
    background-color: #d9f6ff;
}
article img {
    max-width: 100%;
}
