.bg-black {
    background-color: #000
}

.text-black {
    color: #000
}

.bg-azure {
    background-color: #0078d7
}

.bg-note,
blockquote {
    background-color: #d9f6ff
}

.text-azure {
    color: #0078d7
}