article {
    counter-reset: exercise; 
    counter-reset: task; 
  }
  article h2 {
    counter-reset: task;   
  }
  article h2::before {
    counter-increment: exercise;
    content: "Exercise " counter(exercise) ": ";
  }
  article h3::before {
    counter-increment: task;
    content: "Task " counter(task, upper-roman) ": ";
  }