.title {
    font-style: normal;
    font-weight: 300;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    margin-bottom: 10px;
    font-size: 1.75rem;
    margin-top: 32px;
    font-family: segoe-ui_light, "Segoe UI Light", "Segoe WP", "Helvetica Neue", Helvetica, sans-serif;
}