main th,
pre {
    text-align: left
}

main table caption,
main td,
main th {
    border-style: solid;
    border-color: #e3e3e3
}

main th {
    font-family: segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP", "Helvetica Neue", Helvetica, sans-serif
}

main td,
main th {
    word-wrap: break-word
}

main table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 100%;
    font-size: .875rem
}

main table caption {
    font-size: .8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1.2em;
    border-width: 0 0 1px;
    text-align: right
}

main td,
main th {
    display: table-cell;
    padding: 12px 16px;
    line-height: 1.5;
    vertical-align: top;
    border-width: 1px 0 0
}

main th {
    font-size: .875rem;
    font-weight: 400;
    vertical-align: bottom;
    border-width: 0 0 1px
}

main table>caption+thead>tr:first-child>td,
main table>colgroup+thead>tr:first-child>td,
main table>thead:first-child>tr:first-child>td {
    border-top: 0
}

main .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}